.header {
}

.button {
    font-size: 60px;
    -unity-text-align: upper-center;
    width: 500px;
    align-self: center;
    top: 400px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
